# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
venv_airflow/
.venv/

# Environment variables
.env
*.env

# Airflow
airflow/logs/
airflow/plugins/
standalone_admin_password.txt
airflow.db
airflow.cfg

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
logs/