# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/

# Environment
.env

# IDE
.zed/
.vscode/
.idea/

# Data (если не хочешь коммитить)
report.csv